$size: calc(1vw + 1vh);
$color1: rgba(11, 4, 20, 1);
$color2: rgba(230, 230, 240, 1);
$font1: 'TT Firs Neue Trl', sans-serif;

.portfolio {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(58, 12, 89);
	background: linear-gradient(
		146deg,
		rgba(14, 12, 110, 0.906) 29%,
		rgba(191, 48, 204, 0.596) 65%,
		rgba(18, 60, 196, 0.894) 95%
	);
	// background: red;
	.port_container {
		width: 1450px;
		max-width: 1500px;
		padding: 50px 0;
	}
}

.port_title {
	h1 {
		font-family: $font1;
		font-size: 60px;
		font-weight: 600;
		line-height: 57px;
		text-align: center;
	}
}

.port_imgs {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 30px 0;
	img {
		margin: 20px;
	}
}
