:root {
	--size: calc(1vw + 1vh);
	/* width: calc(var(--size) * 10); use */
	--color1: rgba(11, 4, 20, 1);
	--color2: rgba(230, 230, 240, 1);
	--font1: 'TT Firs Neue Trl', sans-serif;
}
.footer_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 80px 300px;
}
.col_11::after {
	content: ' ';
	background: rgba(255, 255, 255, 0.493);
	position: absolute;
	bottom: 20;
	left: 50;
	height: 300px;
	width: 1px;
	transform: translate(600px, -235px);
}
.col_11 img {
	width: 130px;
	height: 45px;
}
.col_11 p {
	font-family: var(--font1);
	font-size: 15px;
	font-weight: 300;
	line-height: 42px;
	letter-spacing: 0.3px;
	text-align: left;
}
.footer_links {
	width: 405px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
}
.footer_links .link {
	width: 50%;
	display: flex;
	align-items: center;
	position: relative;
}
.footer_links .link img {
	flex: 20% 0 0;
}
.fomr_side {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.fomr_side h1 {
	font-family: var(--font1);
	font-size: 31px;
	font-weight: 500;
	line-height: 22px;
	text-align: left;
	padding: 10px 0;
	margin: 10px 0;
}
.fomr_side button {
	width: 494px;
	height: 57px;
	padding: 19px 164px;
	border-radius: 26px;
	cursor: pointer;
	color: #fff;
	font-family: var(--font1);
	font-size: 22px;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	background: linear-gradient(72.71deg, #280199 23.39%, #011aff 91.13%),
		linear-gradient(
			180deg,
			rgba(36, 0, 255, 0.08) 0%,
			rgba(255, 255, 255, 0) 31.77%
		);
}
.fomr_side input[type='text'],
.fomr_side input[type='tel'] {
	padding: 0 20px;
	border: 1px solid #ccc;
	border-radius: 26px;
	font-size: 16px;
	width: 494px;
	height: 57px;
	font-family: var(--font1);
	font-size: 18px;
	font-weight: 500;
	line-height: 20px;
	text-align: left;
}
