@media (max-width: 1200px) {
	.home_r_side {
		position: absolute;
		left: 900px;
	}
}

@media (max-width: 1100px) {
	.number {
		font-size: 10px;
	}

	.home_l_side h1 {
		font-size: 90px;
	}
	.form_l_side h1 {
		font-size: 55px;
	}

	.form_l_side p {
		font-size: 16px;
		padding: 0;
	}

	.fbc_com_boxes {
		padding: 15px;
	}
	.gr_boxes {
		grid-template-columns: repeat(3, minmax(260px, 1fr));
	}
	.pay_title h1 {
		font-size: 45px;
	}
	.lesson_box_title {
		font-size: 50px !important;
	}
	.wp_title h1 {
		font-size: 48px;
	}
	.l_side_li li {
		font-size: 25px;
	}
}

@media (max-width: 1040px) {
	.kusrses_container {
		grid-template:
			repeat(auto-fit, minmax(310px, 1fr))
			/ repeat(2, minmax(300px, 1fr));
	}
	.big1 {
		order: 1;
		grid-area: auto / auto / span 2 / span 1;
	}
	.big2 {
		order: 2;
		grid-area: auto / auto / span 2 / span 1;
	}

	.big_con {
		flex-direction: column;
		/* height: 100%; */
	}
	.fomr_side button {
		padding: 5px 15px;
		height: 40px;
	}
	.fomr_side input[type='text'],
	.fomr_side input[type='text'] {
		padding: 0 20px;
		border: 1px solid #ccc;
		border-radius: 26px;
		font-size: 13px;
		height: 47px;
		font-family: var(--font1);
		font-size: 18px;
		font-weight: 500;
		line-height: 20px;
		text-align: left;
	}
	.fidback_title h1 {
		font-size: 40px;
		font-weight: 700;
		letter-spacing: 0.3px;
		text-align: center;
	}
	.fbc_com_boxes {
		padding: 15px;
	}
	.home_t_bos h1 {
		font-size: 50px;
	}
	.home_b_bos h2 {
		font-size: 17px;
	}
	.trailer_button button {
		height: 40px;
	}
	.lesson_box_title {
		font-size: 45px !important;
	}
	.lesson_b_r_side img {
		width: 400px;
		height: 400px;
	}
	.l_detail {
		font-size: 20px;
	}
	.port_title h1 {
		font-size: 48px;
	}
	.port_imgs {
		gap: 30px 20px;
	}
	.r_sidee {
		flex: 50% 0 0;
	}
	.big1 .kurses_box_r_side img {
		transform: translateY(10px);
	}
}

@media (max-width: 900px) {
	.fishka_row p {
		font-size: 18px;
	}
	.green_light {
		padding: 5px;
	}
	.gl_p {
		font-size: 10px !important;
	}
	.form_l_side,
	.fomr_side {
		flex: 40% 0 0;
	}

	.fomr_side button {
		height: 35px;
		padding: 0 15px;
		font-size: 15px !important;
	}
	.fomr_side input[type='text'],
	.fomr_side input[type='text'] {
		height: 35px;
	}
	.button-container {
		width: 85%;
	}
	.gr_boxes {
		grid-template-columns: repeat(2, minmax(260px, 1fr));
	}
	.col_1 {
		width: 350px;
	}
	.crs_home_img img {
		width: 390px !important;
	}
	.home_t_bos h1 {
		font-size: 45px;
	}
	.home_b_bos h2 {
		font-size: 15px;
	}
	.home_bottom {
		padding: 40px 50px 20px 50px;
	}
	.home_time {
		padding: 20px 60px;
	}
	.trailer_button button {
		font-size: 18px;
		height: 38px;
	}
	.lesson_box_title {
		font-size: 35px !important;
	}
	.detail_title {
		font-size: 25px;
	}
	.l_detail {
		font-size: 18px;
	}
	.lesson_b_r_side img {
		width: 350px;
		height: 400px;
	}
	.wp_title h1 {
		font-size: 42px;
	}
	.l_side_li li {
		font-size: 20px;
	}
	.port_imgs {
		gap: 20px 15px;
	}
	.r_side_items .r_side_item_title {
		font-size: 15px;
	}
	.r_side_items .faq_item_togle {
		font-size: 13px;
	}
	.kurses_box_r_side img {
		transform: translateY(30px);
	}
}
@media (max-width: 888px) {
	.fbc_com_boxes {
		padding: 15px;
	}
}

@media (max-width: 843px) {
	.home_r_side img {
		width: 200px;
	}
	.home_l_side h1 {
		font-size: 60px;
	}
	.green_light {
		padding: 2px;
	}
	.gl_p {
		font-size: 6px !important;
	}
	.button-container {
		width: 90%;
	}
	.fbc_com_boxes {
		padding: 15px;
	}
	.fbc_com_boxes p {
		font-size: 12px;
	}
	.home_bottom {
		grid-template-columns: repeat(2, minmax(150px, 1fr));
	}
	.lesson_b_r_side img {
		width: 300px;
		height: 400px;
	}
	.detail_title {
		font-size: 22px;
	}
	.l_detail {
		font-size: 15px;
	}
	.checkbox_container {
		margin: 15px 0 7px 0;
	}
	.r_sidee {
		flex: 60% 0 0;
	}
}
@media (max-width: 788px) {
	.fbc_com_boxes {
		padding: 15px;
	}
	.trailer_button button {
		font-size: 15px;
		height: 40px;
	}
	.trailer_container img {
		width: calc(var(--size) * 20);
	}
	.trailer_button h1 {
		width: max-content;
		font-size: calc(var(--size) * 2);
	}
}
@media (max-width: 768px) {
	.consult_container {
		padding: 30px 20px;
	}

	.form_l_side h1 {
		font-size: 45px;
		line-height: 45px;
	}

	.form_l_side p {
		padding: 0 50px 0 0;
		font-size: 14px;
	}
	.button-container {
		width: 100%;
	}
	.fbc_com_wraper {
		width: 230px;
		margin: auto;
	}
	.swiper {
		width: 230px;
		margin: auto;
	}
	.fbc_com_boxes {
		padding: 10px;
	}
	.fbc_com_boxes p {
		font-size: 11px;
	}
	.teacher h2 {
		font-size: 13px;
	}
	.lesson_b_r_side img {
		width: 250px;
		height: 400px;
	}
}

@media (max-width: 480px) {
	.form_l_side h1 {
		font-size: 40px;
		line-height: 40px;
	}

	.form_l_side p {
		font-size: 12px;
	}

	.checkbox_container {
		font-size: 12px;
	}
}

/* Responsive designs for media queries */
@media (max-width: 1200px) {
	.about .about_container {
		padding: 0 50px;
	}
	.about .about_container .about_r_side {
		margin: 0;
	}
	.mentor_port .mentor_port_container .mentor_port_title h1 {
		font-size: 50px;
	}
	.mentor_port_box img {
		transform: translate(-10px, 40px);
		width: 600px;
		height: auto;
	}
	.mentor_port_box a {
		font-size: 20px;
	}
	.mentor_port_box a:nth-child(3) {
		font-size: 14px;
	}
	.home_r_side {
		left: 600px;
	}
}

@media (max-width: 992px) {
	.mentor_h_l_side h1,
	.mentor_gl_p {
		font-size: 100px !important;
	}
	.mentor_h_r_side {
		transform: translateX(200px);
	}
	.mentor_h_r_side img {
		width: 500px;
		height: 500px;
	}

	.about .about_container {
		padding: 0 30px;
		flex-direction: column;
		align-items: flex-start;
	}

	.mentor_port .mentor_port_container .mentor_port_title h1 {
		font-size: 40px;
	}
	.mentor_port_box img {
		transform: translate(-5px, 30px);
		width: 500px;
		height: auto;
	}
	.mentor_port_box a {
		font-size: 18px;
	}
	.mentor_port_box a:nth-child(3) {
		font-size: 12px;
	}
	.home_r_side {
		left: 400px;
	}
}

@media (max-width: 670px) {
	.about_l_side img {
		max-width: 100%; /* Ensure the image doesn't exceed its container */
		height: auto; /* Maintain aspect ratio */
		display: block; /* Remove default inline spacing */
		margin: 0 auto; /* Center the image within its container */
	}
}

@media (max-width: 576px) {
	.mentor_h_l_side h1,
	.mentor_gl_p {
		font-size: 60px !important;
	}
	.mentor_h_r_side {
		transform: translateX(50px);
	}
	.mentor_h_r_side img {
		width: 300px;
		height: 300px;
	}

	.about .about_container {
		padding: 0 10px;
		flex-direction: column;
		align-items: flex-start;
	}
	.about .about_container .about_r_side {
		margin: 10px 0 0 0;
	}
	.mentor_port .mentor_port_container .mentor_port_title h1 {
		font-size: 25px;
	}
	.mentor_port_box img {
		transform: translate(0, 10px);
		width: 300px;
		height: auto;
	}
	.mentor_port_box a {
		font-size: 14px;
	}
	.mentor_port_box a:nth-child(3) {
		font-size: 8px;
	}
	.home_r_side {
		left: 200px;
	}
}

@media (max-width: 480px) {
	.mentor_h_l_side h1,
	.mentor_gl_p {
		font-size: 50px !important;
	}
	.mentor_h_r_side {
		transform: translateX(25px);
	}
	.mentor_h_r_side img {
		width: 250px;
		height: 250px;
	}
	.about .about_container {
		padding: 0 5px;
		flex-direction: column;
		align-items: flex-start;
	}
	.about .about_container .about_r_side {
		margin: 5px 0 0 0;
	}
	.mentor_port .mentor_port_container .mentor_port_title h1 {
		font-size: 20px;
	}
	.mentor_port_box img {
		transform: translate(0, 5px);
		width: 250px;
		height: auto;
	}
	.mentor_port_box a {
		font-size: 12px;
	}
	.mentor_port_box a:nth-child(3) {
		font-size: 6px;
	}
	.home_r_side {
		left: 150px;
	}
}
