@media (max-width: 1100px) {
	.number {
		font-size: 10px;
	}

	.home_r_side img {
		width: 300px;
	}

	.home_l_side h1 {
		font-size: 90px;
	}
	.form_l_side h1 {
		text-align: center;
		font-size: 60px;
		line-height: 50px;
	}

	.form_l_side p {
		text-align: center;
		padding: 0 50px 0 0;
		font-size: 16px;
	}
	.swiper-slide {
		width: calc(var(--size) * 9.6) !important;
		margin-right: 19px !important;
	}
	.fbc_com_boxes {
		width: calc(var(--size) * 9.6) !important;
		padding: 15px;
	}
}

@media (max-width: 1040px) {
	.kusrses_container {
		grid-template:
			repeat(auto-fit, minmax(310px, 1fr))
			/ repeat(2, minmax(300px, 1fr));
	}
	.big1 {
		order: 1;
		grid-area: auto / auto / span 2 / span 1;
	}
	.big2 {
		order: 2;
		grid-area: auto / auto / span 2 / span 1;
	}

	.big_con {
		flex-direction: column;
		height: 100%;
	}
	.fomr_side button {
		padding: 5px 15px;
		height: 40px;
	}
	.fomr_side input[type='text'],
	.fomr_side input[type='text'] {
		padding: 0 20px;
		border: 1px solid #ccc;
		border-radius: 26px;
		font-size: 13px;
		width: 300px;
		height: 40px;
		font-family: var(--font1);
		font-size: 18px;
		font-weight: 500;
		line-height: 20px;
		text-align: left;
	}
	.fidback_title h1 {
		font-size: 40px;
		font-weight: 700;
		line-height: 16.9px;
		letter-spacing: 0.38999998569488525px;
		text-align: center;
	}
	.swiper-slide {
		margin-right: 22px !important;
	}
	.swiper-slide {
		width: calc(var(--size) * 9.6) !important;
		margin-right: 19px !important;
	}
	.fbc_com_boxes {
		width: calc(var(--size) * 9.6) !important;
		padding: 15px;
	}
}

@media (max-width: 900px) {
	.fishka_row p {
		font-size: 18px;
	}
	.green_light {
		padding: 5px;
	}
	.gl_p {
		font-size: 10px !important;
	}
	.consultation_form {
		flex-direction: column;
	}
	.fomr_side {
		margin-top: 50px;
	}
	.fomr_side button {
		height: 35px;
		padding: 0 15px;
		font-size: 15px !important;
	}
	.fomr_side input[type='text'],
	.fomr_side input[type='text'] {
		height: 35px;
	}
	.button-container {
		width: 85%;
	}
}
@media (max-width: 888px) {
	.swiper-slide {
		width: calc(var(--size) * 9.5) !important;
		margin-right: 19px !important;
	}
	.fbc_com_boxes {
		width: calc(var(--size) * 9.5) !important;
		padding: 15px;
	}
}
@media (max-width: 843px) {
	.home_r_side img {
		width: 200px;
	}

	.home_l_side h1 {
		font-size: 60px;
	}
	.number {
		font-size: 5px;
	}
	.kirish {
		font-size: 5px;
	}
	.courses a {
		font-size: 5px;
	}
	.green_light {
		padding: 2px;
	}
	.gl_p {
		font-size: 6px !important;
	}
	.button-container {
		width: 90%;
	}
	.swiper-slide {
		width: calc(var(--size) * 9) !important;
		margin-right: 19px !important;
	}
	.fbc_com_boxes {
		width: calc(var(--size) * 9) !important;
		padding: 15px;
	}
	.fbc_com_boxes p {
		font-size: 12px;
	}
	.teacher h2 {
		font-size: 14px;
	}
}
@media (max-width: 788px) {
	.swiper-slide {
		width: calc(var(--size) * 8.5) !important;
		margin-right: 19px !important;
	}
	.fbc_com_boxes {
		width: calc(var(--size) * 8.5) !important;
		padding: 15px;
	}
}
@media (max-width: 768px) {
	.consult_container {
		padding: 30px 20px;
	}

	.form_l_side h1 {
		font-size: 50px;
		line-height: 45px;
	}

	.form_l_side p {
		padding: 0 50px 0 0;
		font-size: 14px;
	}
	.button-container {
		width: 100%;
	}
	.fbc_com_wraper {
		width: 230px;
		margin: auto;
	}
	.swiper {
		width: 230px;
		margin: auto;
	}
	.swiper-slide {
		width: calc(var(--size) * 10.2) !important;
		margin-right: 19px !important;
	}
	.fbc_com_boxes {
		padding: 10px;
	}
	.fbc_com_boxes p {
		font-size: 12px;
	}
	.teacher h2 {
		font-size: 15px;
	}
}

@media (max-width: 480px) {
	.form_l_side h1 {
		font-size: 40px;
		line-height: 40px;
	}

	.form_l_side p {
		padding: 0;
		font-size: 12px;
	}

	.checkbox_container {
		font-size: 12px;
	}
}
