@media (max-width: 1100px) {
	.number {
		font-size: 10px;
	}

	.home_r_side img {
		width: 300px;
	}

	.home_l_side h1 {
		font-size: 90px;
	}
	.form_l_side h1 {
		font-size: 55px;
	}

	.form_l_side p {
		text-align: center;
		font-size: 16px;
		padding: 0;
	}

	.fbc_com_boxes {
		padding: 15px;
	}
	.gr_boxes {
		grid-template-columns: repeat(3, minmax(260px, 1fr));
	}
	.pay_title h1 {
		font-size: 45px;
	}
}

@media (max-width: 1040px) {
	.kusrses_container {
		grid-template:
			repeat(auto-fit, minmax(310px, 1fr))
			/ repeat(2, minmax(300px, 1fr));
	}
	.big1 {
		order: 1;
		grid-area: auto / auto / span 2 / span 1;
	}
	.big2 {
		order: 2;
		grid-area: auto / auto / span 2 / span 1;
	}

	.big_con {
		flex-direction: column;
		height: 100%;
	}
	.fomr_side button {
		padding: 5px 15px;
		height: 40px;
	}
	.fomr_side input[type='text'],
	.fomr_side input[type='text'] {
		padding: 0 20px;
		border: 1px solid #ccc;
		border-radius: 26px;
		font-size: 13px;
		height: 47px;
		font-family: var(--font1);
		font-size: 18px;
		font-weight: 500;
		line-height: 20px;
		text-align: left;
	}
	.fidback_title h1 {
		font-size: 40px;
		font-weight: 700;
		letter-spacing: 0.3px;
		text-align: center;
	}
	.fbc_com_boxes {
		padding: 15px;
	}
}

@media (max-width: 900px) {
	.fishka_row p {
		font-size: 18px;
	}
	.green_light {
		padding: 5px;
	}
	.gl_p {
		font-size: 10px !important;
	}
	.form_l_side,
	.fomr_side {
		flex: 40% 0 0;
	}

	.fomr_side button {
		height: 35px;
		padding: 0 15px;
		font-size: 15px !important;
	}
	.fomr_side input[type='text'],
	.fomr_side input[type='text'] {
		height: 35px;
	}
	.button-container {
		width: 85%;
	}
	.gr_boxes {
		grid-template-columns: repeat(2, minmax(260px, 1fr));
	}
	.col_1 {
		width: 350px;
	}
}
@media (max-width: 888px) {
	.fbc_com_boxes {
		padding: 15px;
	}
}
@media (max-width: 843px) {
	.home_r_side img {
		width: 200px;
	}

	.home_l_side h1 {
		font-size: 60px;
	}
	.number {
		font-size: 5px;
	}
	.kirish {
		font-size: 5px;
	}
	.courses a {
		font-size: 5px;
	}
	.green_light {
		padding: 2px;
	}
	.gl_p {
		font-size: 6px !important;
	}
	.button-container {
		width: 90%;
	}
	.fbc_com_boxes {
		padding: 15px;
	}
	.fbc_com_boxes p {
		font-size: 12px;
	}
}
@media (max-width: 788px) {
	.fbc_com_boxes {
		padding: 15px;
	}
}
@media (max-width: 768px) {
	.consult_container {
		padding: 30px 20px;
	}

	.form_l_side h1 {
		font-size: 45px;
		line-height: 45px;
	}

	.form_l_side p {
		padding: 0 50px 0 0;
		font-size: 14px;
	}
	.button-container {
		width: 100%;
	}
	.fbc_com_wraper {
		width: 230px;
		margin: auto;
	}
	.swiper {
		width: 230px;
		margin: auto;
	}
	.fbc_com_boxes {
		padding: 10px;
	}
	.fbc_com_boxes p {
		font-size: 11px;
	}
	.teacher h2 {
		font-size: 13px;
	}
}

@media (max-width: 480px) {
	.form_l_side h1 {
		font-size: 40px;
		line-height: 40px;
	}

	.form_l_side p {
		font-size: 12px;
	}

	.checkbox_container {
		font-size: 12px;
	}
}
