:root {
	--size: calc(1vw + 1vh);
	/* width: calc(var(--size) * 10); use */
	--color1: rgba(11, 4, 20, 1);
	--color2: rgba(230, 230, 240, 1);
	--font1: 'TT Firs Neue Trl', sans-serif;
}
*,
*:after,
*:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	transition: 0.5s ease-in-out; /* добавим плавность переходов для всех элементов страницы*/
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	outline: none;
}
img {
	display: block;
	width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display';
	font-weight: normal;
	letter-spacing: 1px;
}
body {
	font-family: var(--font1) !important;
	font-size: 14px;
	line-height: 1;
	background: rgba(11, 4, 20, 1);
	color: aliceblue;
}

.home_page {
	/* padding: 0 calc(var(--size) * 6); */
}

header:after,
.container:after,
footer:after,
.widget-posts-list li:after,
#subscribe:after {
	content: '';
	display: table;
	clear: both;
}
.header {
	width: 100%;
	/* border: 1px solid red; */
	padding: 0 calc(var(--size) * 6);
	height: min-content;
}

.header_container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.l_side {
	width: 100%;
	/* border: 1px solid red; */
}
.logo {
	width: 120px;
	height: 44px;
	/* gap: 0px; */
	/* opacity: 0px; */
}
.r_side {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	/* border: 1px solid red; */
	flex-basis: calc(var(--size) * 35);
}

.courses {
	color: var(--color2);
	font-family: var(--font1);
	font-size: 14px;
	font-weight: 400;
	padding: 10px 20px;
	border: 1px solid transparent;
	border-radius: 26px;
	/* line-height: 20px; */
	/* text-align: left; */
	background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.04),
			rgba(255, 255, 255, 0.04)
		),
		linear-gradient(
			180deg,
			rgba(255, 255, 255, 0.08) 0%,
			rgba(255, 255, 255, 0) 31.77%
		);
}
.courses:hover {
	border-color: var(--color2);
}
.kirish {
	width: calc(var(--size) * 4);
	color: var(--color2);
	border: 1px solid transparent;
	border-radius: 26px;
	outline: none !important;
	padding: 10px;
	font-family: 'Fira Sans', sans-serif;
	/* width: var(--size); */
	background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.04),
			rgba(255, 255, 255, 0.04)
		),
		linear-gradient(
			180deg,
			rgba(255, 255, 255, 0.08) 0%,
			rgba(255, 255, 255, 0) 31.77%
		);
}
.kirish:hover {
	border-color: var(--color2);
}

.number {
	color: var(--color2);
	font-family: var(--font1);
	font-size: 15px;
	font-weight: 600;
	line-height: 20px;
	border-radius: 26px;
	padding: 10px 20px;
	/* text-align: left; */
}

.number:hover {
	background: linear-gradient(0deg, #f3f2ff, #f3f2ff),
		linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
	color: var(--color1);
}
