:root {
	--size: calc(1vw + 1vh);
	/* width: calc(var(--size) * 10); use */
	--color1: rgba(11, 4, 20, 1);
	--color2: rgba(230, 230, 240, 1);
	--font1: 'TT Firs Neue Trl', sans-serif;
}

.fishkalar {
	width: 100vw;
	height: 360px;
	position: absolute;
	background: linear-gradient(
		113deg,
		rgb(238, 172, 18) 0%,
		rgb(201, 28, 97) 27%,
		rgba(141, 16, 231, 1) 62%,
		rgb(66, 84, 173) 82%,
		rgb(0, 152, 223) 100%
	);
	font-family: var(--font1);
	letter-spacing: 0.65px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.fishka_container {
	width: 100vw;
	height: auto;
	/* overflow: hidden; */
	max-width: 1700px;
	height: 360px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	flex-grow: 1;
}
.fishka_wraper {
	height: auto;
	width: 100%;
	max-width: 1500px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.fishka_row {
	/* border: 2px solid rebeccapurple !important; */
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
}
.talim_boxes {
	/* padding: 10px; */
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.fishka_row p {
	font-size: 22px;
	font-family: var(--font1);
	font-weight: 100;
}
.talim_box {
	width: 322px;
	height: 170px;
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
	flex-direction: column;
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.15);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(1.2px);
	-webkit-backdrop-filter: blur(1.2px);
	border: 1px solid rgba(255, 255, 255, 0.37);
}
.talim_box img {
	width: 35px;
	height: 35px;
}
.talim_box_title {
	font-weight: bold !important;
	font-size: 26px;
}
.talim_box_text {
	font-size: 14px;
	font-weight: 400;
}
