:root {
	--size: calc(1vw + 1vh);
	/* width: calc(var(--size) * 10); use */
	--color1: rgba(11, 4, 20, 1);
	--color2: rgba(230, 230, 240, 1);
	--font1: 'TT Firs Neue Trl', sans-serif;
}
.group {
	background: radial-gradient(
		circle,
		rgba(87, 33, 150, 1) 0%,
		rgb(10, 9, 36) 50%
	);
	display: flex;
	align-items: center;
	justify-content: center;
}

.gr_container {
	width: 100%;
	height: 872px auto;
	max-width: 1500px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.gr_title {
	padding-top: 100px;
}
.gr_title h1 {
	font-family: var(--font1);
	font-size: 60px;
	font-weight: 700;
	line-height: 17px;
	letter-spacing: 0.3px;
	text-align: center;
}
.gr_title h3 {
	font-family: var(--font1);
	font-size: 30px;
	font-weight: 500;
	line-height: 17px;
	letter-spacing: 0.3px;
	text-align: center;
	margin-top: 40px;
}
.gr_boxes {
	/* width: 1500px; */
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 50px 0;
	transform: translateY(-100px);
}
.gr_box_item {
	width: 350px;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}
.gr_item_info {
	width: 235px;
	height: 120px;
	padding: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
	/* From https://css.glass */
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.11) 0%,
		rgba(6, 165, 255, 0.11) 100%
	);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.3px);
	-webkit-backdrop-filter: blur(4.3px);
	transform: translateY(-50px);
	border-radius: 28px;
	border: 0.5px solid rgba(255, 255, 255, 0.274);
}
.gr_box_item img {
	width: 290px;
	height: 290px;
	transform: translateY(80px);
}

.gr_box_item h1 {
	position: relative;
	font-family: var(--font1);
	font-size: 19px;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
	z-index: 2 !important;
}

.gr_box_item p {
	font-family: var(--font1);
	font-size: 12px;
	font-weight: 300;
	line-height: 20px;
	text-align: center;
}
.gr_box_item button {
	width: 120px;
	height: 25px;
	border-radius: 10px;
	border: none;
	font-family: var(--font1);
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	margin-top: 20px;
}
