:root {
	--size: calc(1vw + 1vh);
	/* width: calc(var(--size) * 10); use */
	--color1: rgba(11, 4, 20, 1);
	--color2: rgba(230, 230, 240, 1);
	--font1: 'TT Firs Neue Trl', sans-serif;
}
.payment {
	background: rgb(16, 5, 52);
	background: linear-gradient(
		45deg,
		rgb(11, 3, 36) 0%,
		rgba(26, 13, 106, 1) 35%,
		rgb(13, 4, 51) 49%
	);
	display: flex;
	align-items: center;
	justify-content: center;
}
.pay_container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1500px;
	height: auto;
	padding: 100px 50px;
}
.pay_title {
	width: 100%;
	margin-bottom: 50px;
	position: relative;
	display: block;
}
.pay_title h1 {
	font-family: var(--font1);
	font-size: 90px;
	font-weight: 700;
	line-height: 17px;
	letter-spacing: 0.3px;
	text-align: center;
}
.pay__content-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap-reverse;
	align-items: center;
	justify-content: space-between;
	height: auto;
}
.pay__content-left {
	height: max-content;
	width: 600px;
	display: flex;
	flex-wrap: wrap;
}
.pay__content-left p {
	font-size: 15px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #fff;
	position: relative;
	top: 20px;
}
.pay__content-left-title h1 {
	font-family: var(--font1);
	font-size: 35px !important;
	font-weight: 700;
	line-height: 16.9px;
	letter-spacing: 0.3px;
	text-align: center;
}
.p-desc {
	width: 75%;
	font-family: var(--font1) !important;
	font-size: 12px;
	font-weight: 200;
	line-height: 16.9px;
	letter-spacing: 0.3px;
	text-align: left;
}
.pay__content-btn-group {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}
.pay__content-btn-group .btn {
	width: max-content;
	height: 35px;
	border-radius: 26px;
	font-family: var(--font1);
	font-size: 14px;
	font-weight: 300;
	text-align: left;
	padding: 0 15px;
	margin: 5px 0;
	border: 1px solid rgba(138, 138, 138, 0.911);
	background: transparent;
	color: var(--color2);
}

.pay__content-left-title h1 {
	font-family: var(--font1);
	font-size: 29px;
	font-weight: 700;
	line-height: 16.9px;
	letter-spacing: 0.3px;
	text-align: center;
}

.pay__content-right img {
	width: 375px;
	height: 375px;
}
