:root {
	--size: calc(1vw + 1vh);
	/* width: calc(var(--size) * 10); use */
	--color1: rgba(11, 4, 20, 1);
	--color2: rgba(230, 230, 240, 1);
	--font1: 'TT Firs Neue Trl', sans-serif;
}
.sponsor {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
}
.sponsor_container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1500px;
	height: 600px;
	padding: 50px 50px;
}
.sponsor__content-title {
	transform: translateY(45px);
}
.sponsor__content-title h1 {
	font-family: var(--font1);
	font-size: 60px;
	font-weight: 700;
	line-height: 17px;
	letter-spacing: 0.3px;
	text-align: center;
	color: #333333;
}
.sponsor__content-logo {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.sponsor__content-col img {
	width: auto;
}
.sponsor__content-col-1 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	width: 100vw;
	height: auto;
}
.sponsor__content-col-2 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	width: 100vw;
	height: auto;
}
.sponsor__content-col-3 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	width: 100vw;
	height: auto;
}
.sponsor__content-col-4 {
	display: flex;
	justify-content: center;
	width: 100vw;
	gap: 90px;
	height: auto;
}
