:root {
	--size: calc(1vw + 1vh);
	/* width: calc(var(--size) * 10); use */
	--color1: rgba(11, 4, 20, 1);
	--color2: rgba(230, 230, 240, 1);
	--font1: 'TT Firs Neue Trl', sans-serif;
}
.active {
	color: var(--color2) !important;
	background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.04),
			rgba(255, 255, 255, 0.04)
		),
		linear-gradient(
			180deg,
			rgba(255, 255, 255, 0.08) 0%,
			rgba(255, 255, 255, 0) 31.77%
		) !important;
}
*,
*:after,
*:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	transition: 0.5s ease-in-out; /* добавим плавность переходов для всех элементов страницы*/
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display';
	font-weight: normal;
	letter-spacing: 1px;
}
body {
	font-family: var(--font1) !important;
	font-size: 14px;
	line-height: 1;
	background: rgba(11, 4, 20, 1);
	color: aliceblue;
}
/* .home_page {
} */
header:after,
.container:after,
footer:after,
.widget-posts-list li:after,
#subscribe:after {
	content: '';
	display: table;
	clear: both;
}
.header {
	display: flex;
	justify-content: center;
	padding: 20px 0;
}
.header_wraper {
	max-width: 1500px;
	display: flex;
	flex-wrap: wrap;
}
.header_container {
	overflow: hidden;
	width: 100%;
	overflow: hidden;
	width: calc(var(--size) * 70);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.l_side {
	display: inline;
	/* width: 100%; */
}
.logo {
	width: 120px;
	height: 44px;
}
.r_side {
	position: relative;
	right: 50px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex: 40% 0 0;
}

.courses {
	padding: 10px 20px;
	border: 1px solid transparent;
	border-radius: 26px;
	background: transparent;
}
.courses a {
	color: var(--color2);
	font-family: var(--font1);
	font-size: 14px;
	font-weight: 400;
}
.courses:hover {
	border-color: var(--color2);
}
.kirish {
	color: var(--color2);
	border: 1px solid transparent;
	border-radius: 26px;
	outline: none !important;
	padding: 10px 20px;
	font-family: var(--size);
	background: transparent;
}
.kirish:hover {
	border-color: var(--color2);
}

.number {
	border: 1px solid transparent;
	font-family: var(--font1);
	font-size: 15px;
	font-weight: 600;
	line-height: 20px;
	border-radius: 26px;
	padding: 10px 20px;
	color: var(--color2);
	background: transparent;
}

.number:hover {
	background: linear-gradient(0deg, #f3f2ff, #f3f2ff),
		linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
	color: var(--color1);
}
