/* Coursec home style homePage styledan */
/* Coursec home style homePage styledan */
/* Coursec home style homePage styledan */
:root {
	--size: calc(1vw + 1vh);
	/* width: calc(var(--size) * 10); use */
	--color1: rgba(11, 4, 20, 1);
	--color2: rgba(230, 230, 240, 1);
	--font1: 'TT Firs Neue Trl', sans-serif;
	--deg: 255deg;
}

.home_container {
	max-width: 1200px;
}
.crs_home_img img {
	width: 500px !important;
}
.home_b_bos {
	height: 130px;
	border-radius: 20px;
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	border: 1px solid #2b2b2b;
	background: linear-gradient(
		45deg,
		rgba(20, 11, 42, 0.86) 0%,
		rgb(46, 35, 71) 47%,
		rgb(19, 7, 35) 100%
	);
	position: relative;
}
.shadow:hover:before {
	content: ' ';
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
	border-radius: 20px;
	background: linear-gradient(to bottom right, #008cff, #e100ff);
	filter: blur(5px);
	z-index: -1;
}
.home_b_bos h2 {
	font-family: var(--font1);
}
.home_b_bos img {
	max-width: 50px;
	max-height: 50px;
}
.home_bottom {
	display: grid;
	grid-template-columns: repeat(4, minmax(100px, 1fr));
	gap: 17px;
	padding: 20px 50px;
}
.home_time {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px;
	user-select: none;
}
.home_time h1 {
	font-family: var(--font1);
	font-size: 60px;
	font-weight: 600;
	text-align: center;
}
.home_time h3 {
	text-align: center;
	font-family: var(--font1);
	font-size: 39px;
	font-weight: 400;
	line-height: 57px;
	text-align: center;
}
/* coursec trailer------------------------------------------------ */
/* coursec trailer------------------------------------------------ */
/* coursec trailer------------------------------------------------ */
.curse_trailer {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(
		113deg,
		rgb(255, 185, 18) 0%,
		rgb(212, 29, 103) 27%,
		rgb(141, 16, 231) 62%,
		rgb(77, 97, 195) 82%,
		rgb(0, 173, 254) 100%
	);
}

.trailer_container {
	width: 100%;
	max-width: 1200px;
	padding: 30px 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.trailer_container img {
	width: calc(var(--size) * 20);
	/* width: 620px; */
	max-width: 620px;
}
.curse_trailer_top:hover {
	animation: zzz 0.6s linear;
	cursor: pointer;
}

.trailer_button {
	width: 400px;
	max-width: 400px;
	height: 170px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}
.trailer_button h1 {
	font-family: var(--font1);
	font-size: 60px;
	font-weight: 600;
	line-height: 57px;
	text-align: right;
}
.trailer_button button {
	height: 55px;
	border-radius: 20px;
	border: none;
	padding: 0 20px;
	font-family: var(--font1);
	font-size: 20px;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
}
.trailer_button button:hover {
	transform: scale(0.96);
	-webkit-box-shadow: 0 0 18px -8px #000000;
	-moz-box-shadow: 0 0 18px -8px #000000;
	box-shadow: 0 0 18px -8px #000000;
	cursor: pointer;
}
/* Lesso_n detail -----------------------------------------------------------*/
/* Lesso_n detail -----------------------------------------------------------*/
/* Lesso_n detail -----------------------------------------------------------*/
.LessonDetail {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(
		45deg,
		rgba(20, 11, 42, 0.86) 0%,
		rgb(46, 35, 71) 47%,
		rgb(19, 7, 35) 100%
	);
}
.LessonDetail .l_detail_container {
	width: 100%;
	max-width: 1200px;
	padding: 50px 50px;
}
.lesson_box_title {
	font-family: var(--font1);
	font-size: 60px;
	font-weight: 600;
	line-height: 57px;
	text-align: center;
}
.LessonDetail .l_detail_container .lesson_box {
	display: flex;
	align-items: end;
	justify-content: space-between;
	padding: 50px 0 100px 0;
}
.lesson_b_l_side {
	font-family: var(--font1);
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.lesson_b_l_side:nth-child(odd) {
	transform: translateX(-20px);
}
.lesson_b_l_side:nth-child(even) {
	transform: translateX(20px);
}
.lesson_b_l_side:nth-child(odd) > .detail_title {
	padding-left: 20px;
}
.lesson_b_l_side:nth-child(even) > .detail_title {
	padding-right: 22px;
}
.detail_title {
	padding: 20px 0;
	font-family: var(--font1);
	font-size: 28px;
	font-weight: 700;
	text-align: left;
}
.lesson_detail {
	display: flex;
	align-items: center;
	margin: 10px 0;
}
.lesson_detail:hover {
	cursor: pointer;
}
._for2 {
	transform: translateX(23px) !important;
	padding: 0 40px 0 20px !important;
}
.l_d_for2 {
	justify-content: flex-end;
}
.d_t_for2 {
	text-align: end;
}
.reverse_strelka {
	position: relative;
	transform: rotate(180deg) translateX(18px) !important;
}
.lesson_detail img {
	width: 45px;
	height: 45px;
	transform: translateX(18px);
	z-index: 22;
}

.l_d_num {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--font1);
	font-size: 25px;
	font-weight: 700;
	border: 2px solid rgba(143, 143, 143, 0.508);
	border-radius: 50px;
	background: linear-gradient(
		45deg,
		rgba(255, 255, 255, 0.2) 5.65%,
		rgba(255, 255, 255, 0.49) 94.35%
	);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	z-index: 33;
}

.l_detail {
	font-family: var(--font1);
	font-size: 25px;
	font-weight: 400;
	line-height: 43px;
	text-align: center;
	border: 1px solid rgba(143, 143, 143, 0.508);
	padding: 0 20px 0 40px;
	transform: translateX(-23px);
	border-radius: 10px;
	background: linear-gradient(
		68.8deg,
		rgba(255, 255, 255, 0.2) 10.42%,
		rgba(255, 255, 255, 0.035) 77.11%
	);
}
.lesson_b_r_side {
	display: flex;
	align-items: center;
	justify-content: center;
}
.lesson_b_r_side img {
	width: 470px;
	height: 400px;
	top: 247px;
	left: 818px;
	gap: 0px;
	opacity: 0px;
}
.midle_lesson_box {
	display: block;
	margin: auto;
	width: 90%;
	height: 7px;
	border-radius: 100%;
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(0, 102, 255, 0.57) 50.5%,
		rgba(255, 255, 255, 0) 100%
	);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	filter: blur(5.5px) !important;
	-webkit-backdrop-filter: blur(5.5px);
}
/* work plac_e -----------------------------------------------------------*/
/* work plac_e -----------------------------------------------------------*/
/* work plac_e -----------------------------------------------------------*/
.workplace {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
}
.wp_container {
	color: rgb(51, 51, 51);
	max-width: 1200px;
	padding: 50px;
}
.wp_title {
	margin: auto;
}
.wp_title h1 {
	font-family: var(--font1);
	font-size: 54px;
	font-weight: 600;
	text-align: center;
}
.wp_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.wp_l_side {
	transform: translateX(-20px);
	display: flex;
}

.l_side_li {
	transform: translateX(50px);
}
.l_side_li li {
	font-family: var(--font1);
	font-size: 29px;
	font-weight: 400;
	line-height: 38px;
	text-align: left;
	list-style: disc;
}
.wp_r_side img {
	width: calc(var(--size) * 16);
	transform: translateX(65px);
}
/* portfolir stusents ----------------------------------------------- */
/* portfolir stusents ----------------------------------------------- */
/* portfolir stusents ----------------------------------------------- */
.portfolio {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(58, 12, 89);
	background: linear-gradient(
		146deg,
		rgba(14, 12, 110, 0.906) 29%,
		rgba(191, 48, 204, 0.596) 65%,
		rgba(18, 60, 196, 0.894) 95%
	);
}
.portfolio .port_container {
	max-width: 1200px;
	padding: 50px;
	margin-bottom: 30px;
}
.port_title h1 {
	font-family: var(--font1);
	font-size: 60px;
	font-weight: 600;
	line-height: 57px;
	text-align: center;
	margin: 50px 0;
}
.port_imgs {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, minmax(150px, 1fr));
	gap: 40px 30px;
}
.port_imgs img:nth-child(3) {
	grid-column: span 2 !important;
}
.port_imgs img {
	border-radius: 20px;
	width: 100%;
}
@keyframes zzz {
	0% {
		transform: rotate(1deg);
	}
	50% {
		transform: rotate(-1deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
.port_imgs img:hover {
	-webkit-box-shadow: 0.5px 0.5px 20px -3px #000000;
	-moz-box-shadow: 0.5px 0.5px 20px -3px #000000;
	box-shadow: 0.5px 0.5px 20px -3px #000000;
	animation: zzz 0.6s linear;
}
/* faq frecuently asq----------------------------------------------- */
/* faq frecuently asq----------------------------------------------- */
/* faq frecuently asq----------------------------------------------- */
.faq {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(
		146deg,
		rgba(61, 15, 68, 0.5545997191) 0%,
		rgb(18, 19, 74) 23%,
		rgba(18, 72, 111, 0.8804424157) 45%,
		rgb(0, 51, 115) 66%,
		rgb(67, 20, 80) 83%,
		rgb(20, 30, 80) 100%
	);
}
.faq_container {
	width: 100%;
	max-width: 1220px;
	padding: 50px;
}
.faq_title h1 {
	font-family: var(--font1);
	font-size: 60px;
	font-weight: 600;
	text-align: center;
}
.faq_sides {
	max-width: 1200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 50px 0;
}
.faq_r_side,
.faq_l_side {
	flex: 45% 0 0;
}
.faq_r_side {
	max-width: 600px;
	max-height: 400px;
	overflow-y: scroll;
	scrollbar-width: none;
	padding: 0 10px;
}
.faq_l_side img {
	transform: translateX(-35px);
	width: calc(var(--size) * 18);
	max-width: 480px;
}
.r_side_items {
	max-height: 134px;
	margin: 15px 0;
	padding: 5px 20px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.123);
	backdrop-filter: blur(3.1px);
	-webkit-backdrop-filter: blur(3.1px);
	border: 1px solid rgba(255, 255, 255, 0.15);
}
.r_side_items:hover {
	-webkit-box-shadow: 0.5px 0.5px 20px -4px #000000;
	-moz-box-shadow: 0.5px 0.5px 20px -4px #000000;
	box-shadow: 0.5px 0.5px 20px -4px #000000;
	animation: zzz 0.6s linear;
}
.r_side_items .r_side_item_title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: var(--font1);
	font-size: 18px;
	font-weight: 600;
	user-select: none;
}
.r_side_items .r_side_item_title::after {
	content: '+';
	width: 50px;
	height: 50px;
	font-size: 50px;
	font-weight: 300;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.r_side_item_title.active {
	background: transparent !important;
}
.r_side_item_title.active::after {
	content: '-';
	width: 50px;
	height: 50px;
	font-size: 50px;
	font-weight: 300;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.r_side_items .faq_item_togle {
	max-height: 70px;
	display: none;
	font-family: var(--font1);
	font-size: 16px;
	font-weight: 400;
	user-select: none;
	padding: 0 18px 18px 0;
	overflow-y: auto;
	scrollbar-width: none;
}
