/* Homep_age css----------------------------------------------- */
/* Homep_age css----------------------------------------------- */
/* Homep_age css----------------------------------------------- */
:root {
	--size: calc(1vw + 1vh);
	--color1: rgba(11, 4, 20, 1);
	--color2: rgba(230, 230, 240, 1);
	--font1: 'TT Firs Neue Trl', sans-serif;
}

.active {
	color: var(--color2) !important;
	background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.04),
			rgba(255, 255, 255, 0.04)
		),
		linear-gradient(
			180deg,
			rgba(255, 255, 255, 0.08) 0%,
			rgba(255, 255, 255, 0) 31.77%
		) !important;
}

*,
*:after,
*:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	transition: 0.5s ease-in-out;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display';
	font-weight: normal;
	letter-spacing: 1px;
}

body {
	font-family: var(--font1) !important;
	font-size: 14px;
	line-height: 1;
	background: rgba(11, 4, 20, 1);
	color: aliceblue;
}

header:after,
.container:after,
footer:after,
.widget-posts-list li:after,
#subscribe:after {
	content: '';
	display: table;
	clear: both;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 0;
}
.header_container {
	width: 100%;
	max-width: 1200px;
	padding: 0 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.l_side {
	display: inline;
	/* width: 100%; */
}
.logo {
	width: 120px;
	height: 44px;
}

.r_sidee {
	right: 50px;
	display: flex !important;
	align-items: center;
	justify-content: space-between;
	flex: 40% 0 0;
	font-size: 200px;
}

.courses {
	padding: 10px 20px;
	border: 1px solid transparent;
	border-radius: 26px;
	background: transparent;
}

.courses a {
	color: var(--color2);
	font-family: var(--font1);
	font-size: 14px;
	font-weight: 400;
}

.courses:hover {
	border-color: var(--color2);
}

.kirish {
	color: var(--color2);
	border: 1px solid transparent;
	border-radius: 26px;
	outline: none !important;
	padding: 10px 20px;
	background: transparent;
}

.kirish:hover {
	border-color: var(--color2);
}

.number {
	border: 1px solid transparent;
	font-family: var(--font1);
	font-size: 15px;
	font-weight: 600;
	line-height: 20px;
	border-radius: 26px;
	padding: 10px 20px;
	color: var(--color2);
	background: transparent;
}

.number:hover {
	background: linear-gradient(0deg, #f3f2ff, #f3f2ff),
		linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
	color: var(--color1);
}

/* homep -------------------------------------------------------------- */
/* homep -------------------------------------------------------------- */
/* homep -------------------------------------------------------------- */
/* homep -------------------------------------------------------------- */
.h_home {
	display: flex;
	align-items: center;
	justify-content: center;
}

.h_content {
	max-width: 1200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px;
}

.home_l_side {
	flex: 1;
	color: var(--color2);
	font-family: var(--font1);
}

.home_l_side p {
	font-size: 65px;
}

.home_l_side h1 {
	color: var(--color2);
	font-family: var(--font1);
	font-size: 120px;
	font-weight: 900;
}

.home_r_side {
	display: flex;
	justify-content: center;
	align-items: center;
}

.home_r_side img {
	width: 400px;
	max-width: 600px;
	height: auto;
}

.va {
	font-size: 70px;
	color: var(--color2);
	font-family: var(--font1);
	position: absolute;
	font-weight: bolder;
	line-height: 20px;
	transform: rotate(-23.22deg) translate(550px, 70px);
	z-index: -1;
}

.green_light {
	max-width: max-content;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(
		90deg,
		rgba(10, 116, 10, 1) 0%,
		rgba(32, 223, 112, 0) 45%,
		rgba(0, 255, 85, 0.011729691876750659) 100%
	);
	border: 1px solid #57855a65;
	border-radius: 50px;
	padding: 10px;
}

.gl_p {
	color: var(--color2) !important;
	font-family: var(--font1);
	font-size: 16px !important;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	margin: 0 10px;
}

.jurak {
	background: linear-gradient(
		90deg,
		rgba(10, 116, 10, 1) 0%,
		rgba(32, 223, 112, 1) 50%,
		rgba(0, 255, 85, 1) 100%
	);
	width: 20px;
	height: 20px;
	border: 0.1px solid gray;
	border-radius: 100px;
}
/* fishkalar -------------------------------------------------------------- */
/* fishkalar -------------------------------------------------------------- */
/* fishkalar -------------------------------------------------------------- */
.fishkalar {
	width: 100%;
	background: linear-gradient(
		113deg,
		rgb(238, 172, 18) 0%,
		rgb(201, 28, 97) 27%,
		rgba(141, 16, 231, 1) 62%,
		rgb(66, 84, 173) 82%,
		rgb(0, 152, 223) 100%
	);
	font-family: var(--font1);
	letter-spacing: 0.65px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fishka_container {
	width: 100%;
	max-width: 1200px;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	flex-grow: 1;
	padding: 50px; /* Responsive padding */
}

.fishka_wraper {
	width: 100%;
	max-width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.fishka_row {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.talim_boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 10px;
}

.fishka_row p {
	font-size: 22px;
	font-family: var(--font1);
	font-weight: 100;
	text-align: center; /* Text center */
}

.talim_box {
	height: 150px;
	max-width: 325px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background: rgba(255, 255, 255, 0.15);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.37);
	margin: 10px; /* Space between boxes */
	padding: 10px;
}

.talim_box img {
	width: 35px;
	height: 35px;
}

.talim_box_title {
	font-weight: bold !important;
	font-size: 26px;
}

.talim_box_text {
	font-size: 14px;
	font-weight: 400;
}

/* kurses -------------------------------------------------------------- */
/* kurses -------------------------------------------------------------- */
/* kurses -------------------------------------------------------------- */
.kurslar {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.kurses_title {
	font-size: 60px;
	font-weight: bolder;
	text-align: center;
	margin-top: 80px;
}
.kusrses_container {
	max-width: 1200px;
	padding: 50px 50px;
	display: grid;
	gap: 20px;
	grid-template:
		repeat(auto-fit, minmax(310px, 1fr))
		/ repeat(3, minmax(300px, 1fr));
}
.big1 {
	grid-area: auto / auto / span 1 / span 2;
}
.big2 {
	grid-area: auto / auto / span 1 / span 2;
}
.big1 .kurses_box_r_side img {
	transform: translateY(25px);
}
.kurses_box {
	width: 100%;
	height: 100%;
	min-height: 310px;
	border-radius: 20px;
	border: 2px solid rgba(88, 88, 88, 0.479);
	background: linear-gradient(
		45deg,
		rgba(20, 11, 42, 0.86) 0%,
		rgb(46, 35, 71) 47%,
		rgb(19, 7, 35) 100%
	);
}
.kurses_box_top {
	height: 38px;
	padding: 3px 18px;
	border-radius: 16px;
	border: 1px 0px 0px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transform: translateY(-55px);
	background: radial-gradient(
			50% 50% at 50% 50%,
			rgba(243, 79, 27, 0.99) 0%,
			#be1919 73.5%
		),
		linear-gradient(
			37deg,
			rgba(195, 140, 245, 0.28) 11.56%,
			rgba(0, 0, 0, 0) 86.3%
		),
		linear-gradient(
			222deg,
			rgba(255, 255, 255, 0.2) 8.7%,
			rgba(0, 0, 0, 0) 37.9%
		);
}
.kurses_box_top p {
	font-size: 20px;
}
.kurses_box_top img {
	width: 32px;
	height: 32px;
}
.kurses_box_container {
	width: 100%;
	display: flex;
	/* flex-wrap: wrap; */
	align-items: center;
	justify-content: space-between;
	padding: 20px 30px;
}
.big_con {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}
.kurses_box_l_side {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}
.kurses_box_title {
	font-family: var(--font1);
	font-size: 33px;
	font-weight: 500;
	line-height: 16.9px;
	letter-spacing: 0.3px;
	margin: 15px 0 10px 0;
}
.kurses_box_buttons {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 5px 0;
}
.kurses_box_btn {
	height: 35px;
	padding: 8px 10px;
	border: 1px solid var(--color2);
	border-radius: 26px;
	margin: 5px;
	color: var(--color2);
	font-family: var(--font1);
	background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.04),
			rgba(255, 255, 255, 0.04)
		),
		linear-gradient(
			180deg,
			rgba(255, 255, 255, 0.08) 0%,
			rgba(255, 255, 255, 0) 31.77%
		);
}
.kurses_box_btn:hover {
	background: linear-gradient(90deg, #830bfa 0%, #072e94 100%),
		linear-gradient(
			180deg,
			rgba(255, 255, 255, 0.08) 0%,
			rgba(255, 255, 255, 0) 31.77%
		);
}
.kurses_box_underline {
	width: 80%;
	height: 2px;
	display: block;
	background: var(--color2);
}
.kurses_box_bottom_p {
	color: var(--color2);
	margin: 15px 0;
}
.kurses_box_tglink {
	width: 240px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border: 1px solid;
	border-radius: 20px;
	border: 1px solid rgba(148, 148, 148, 0.363);
	background: linear-gradient(
		90deg,
		rgb(0, 67, 175) 0%,
		rgb(7, 7, 141) 56%,
		rgb(17, 4, 133) 100%
	);
}
.kurses_box_r_side {
	position: relative;
}

.kurses_box_r_side img {
	/* width: 100%; */
	position: relative;
	max-width: 300px;
	/* height: auto; */
}

/* consult -------------------------------------------------------------- */
/* consult -------------------------------------------------------------- */
/* consult -------------------------------------------------------------- */
.consult {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.consult_container {
	max-width: 1200px;
	width: 100%;
	padding: 50px;
	text-align: center;
}
.consultation_form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: black;
}
.form_l_side {
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: column;
	flex: 40% 0 0 !important;
}
.form_l_side h1 {
	font-family: var(--font1);
	font-size: 78px;
	font-weight: 700;
	text-align: start;
}
.form_l_side p {
	padding: 0 200px 0 0;
	font-family: var(--font1);
	font-size: 18px;
	font-weight: 300;
	line-height: 22px;
	text-align: start;
}
.fomr_side {
	flex: 45% 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.fomr_side input[type='text'],
.fomr_side input[type='text'] {
	padding: 0 20px;
	border: 1px solid #ccc;
	border-radius: 26px;
	font-size: 16px;
	width: 494px;
	height: 57px;
	font-family: var(--font1);
	font-size: 18px;
	font-weight: 500;
	line-height: 20px;
	text-align: left;
}
.checkbox_container {
	display: flex;
	align-items: center;
	font-size: 14px;
	margin: 25px 0 5px 5px;
}
.checkbox_container input {
	margin-right: 5px;
}
.fomr_side button {
	/* width: 494px; */
	height: 57px;
	padding: 10px 25px;
	border-radius: 26px;
	cursor: pointer;
	color: #fff;
	font-family: var(--font1);
	font-size: 20px;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	background: linear-gradient(72.71deg, #280199 23.39%, #011aff 91.13%),
		linear-gradient(
			180deg,
			rgba(36, 0, 255, 0.08) 0%,
			rgba(255, 255, 255, 0) 31.77%
		);
}
.consultation-form button:hover {
	background-color: #5a0dab;
}

/* Media Queries for Consult Section */

/* fidback -------------------------------------------------------------- */
/* fidback -------------------------------------------------------------- */
/* fidback -------------------------------------------------------------- */
.fidback {
	width: 100%;
	padding: 50px;
	background: rgb(105, 99, 224);
	background: linear-gradient(
		56deg,
		rgb(55, 50, 150) 6%,
		rgba(218, 130, 37, 0.891281512605042) 25%,
		rgba(179, 80, 57, 0.8772759103641457) 39%,
		rgba(13, 41, 128, 0.7344187675070029) 61%,
		rgba(4, 30, 82, 0.8212535014005602) 76%
	);
	display: flex;
	align-items: center;
	justify-content: center;
}
.fidback::after {
	content: '';
	background: linear-gradient(
		56deg,
		rgb(207, 29, 6) 6%,
		rgba(23, 177, 10, 0.891) 25%,
		rgba(141, 27, 2, 0.877) 39%,
		rgba(13, 41, 128, 0.7344187675070029) 61%,
		rgba(4, 30, 82, 0.8212535014005602) 76%
	);
}
.fidback_container {
	width: 100%;
	max-width: 1200px;
	padding: 0 50px;
}
.fidback_title h1 {
	font-family: var(--font1);
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 0.3px;
	text-align: center;
}
.fidback_carusel {
	width: 100%;
	height: calc(var(--size) * 20);
	max-height: 650px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.fidback_comment {
	width: 100%;
}
/* ------------------------------------------ */
.items {
	position: relative;
	user-select: none;
}
.items .item {
	width: calc(var(--size) * 10);
	max-width: 340px;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50px;
	transform: translate(-50%, -50%);
	/* height: 550px; */
	overflow: hidden;
	transition: all 300ms ease-in-out;
	opacity: 1;
}
.item img {
	width: 100%;
	/* height: auto; */
	object-fit: cover;
}
.item.active {
	opacity: 1;
	z-index: 99;
	background: transparent !important;
}
.item.prev {
	opacity: 1;
	transform: rotate(-15deg) translate(-105%, -63%);
}
.item.next {
	opacity: 1;
	transform: rotate(15deg) translate(8%, -45%);
}
.button-container {
	width: 80%;
}
.button-container .button {
	font-size: 32px;
	cursor: pointer;
	position: relative;
	opacity: 1;
	transition: all 300ms ease-in-out;
}
.button-container .button:hover {
	opacity: 1;
}
.button-container .button:before {
	content: '';
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: calc(var(--size) * 1.5);
	max-width: 78px;
	height: calc(var(--size) * 1.5);
	border: 1px solid var(--color2);
	opacity: 1;
	border-radius: 50%;
}
.button-container .button:nth-child(1) {
	float: left;
}
.button-container .button:nth-child(2) {
	float: right;
}
.fidback_comment h1 {
	font-family: var(--font1);
	font-size: 60px;
	font-weight: 700;
	line-height: 16.9px;
	letter-spacing: 0.3px;
	text-align: center;
}
.fbc_com_boxes {
	max-width: 366px;
	padding: 30px 20px;
	margin: 15px;
	display: flex;
	flex-grow: 1;
	align-items: center;
	flex-direction: column;
	background: rgba(255, 255, 255, 0);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(2.8px);
	-webkit-backdrop-filter: blur(2.8px);
	border: 1px solid rgba(255, 255, 255, 0.22);
}
.fbc_com_wraper {
	margin-top: 50px !important;
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	align-items: center;
	justify-content: space-between;
}
.fbc_com_boxes p {
	font-family: var(--font1);
	font-size: 14px;
	font-weight: 300;
	line-height: 15px;
	letter-spacing: 0.3px;
	text-align: left;
}
.teacher {
	width: 100%;
	display: flex;
	align-items: center;
}
.teacher img {
	width: 57px;
	height: 57px;
	margin: 15px 15px 0 0;
}
.teacher h2 {
	font-family: var(--font1);
	font-size: 20px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.3px;
	text-align: left;
}
.swiper-wrapper {
	min-height: 325px !important;
	max-width: 1200px;
}
.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	max-width: 380px;
	height: 100% !important;
	text-align: center;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 22px !important;
}
.swiper-pagination {
	position: relative !important;
}

/* workplase_Home -------------------------------------------------------------- */
/* workplase_Home -------------------------------------------------------------- */
/* workplase_Home -------------------------------------------------------------- */
.sponsor {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	padding: 50px 0; /* Add some vertical padding */
}

.sponsor_container {
	width: 100%;
	max-width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding: 0 50px;
}

.sponsor_content_title {
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}

.sponsor_content_title h1 {
	font-family: var(--font1);
	font-size: 3rem; /* Responsive font-size */
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0.3px;
	color: #333;
}
.sponsor_content_logo {
	width: 100%;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}
.sponsor_content_logo img {
	max-height: 70px;
}
/* paymant -------------------------------------------------------------- */
/* paymant -------------------------------------------------------------- */
/* paymant -------------------------------------------------------------- */
.payment {
	background: linear-gradient(
		45deg,
		rgb(11, 3, 36) 0%,
		rgba(26, 13, 106, 1) 35%,
		rgb(13, 4, 51) 49%
	);
	display: flex;
	align-items: center;
	justify-content: center;
}

.pay_container {
	width: 100%;
	max-width: 1200px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 50px;
}

.pay_title {
}

.pay_title h1 {
	text-align: center;
	font-family: var(--font1);
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 0.3px;
}

.pay__content-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px; /* Add space between left and right content */
	box-sizing: border-box;
}

.pay__content-left {
	max-width: 600px;
	padding: 20px;
}

.pay__content-left p {
	font-size: 12px;
	font-family: var(--font1);
	color: #fff;
	line-height: 1.5;
}

.pay__content-left-title h1 {
	font-family: var(--font1);
	font-size: 30px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0.3px;
}

.p-desc {
	width: 75%;
	font-family: var(--font1) !important;
	font-size: 0.875rem; /* Responsive font-size */
	font-weight: 200;
	line-height: 1.5;
	letter-spacing: 0.3px;
	text-align: left;
}

.pay__content-btn-group {
	margin-top: 50px;
}

.pay__content-btn-group .btn {
	width: 200px auto;
	height: 45px;
	border-radius: 26px;
	font-family: var(--font1);
	font-size: 1rem; /* Responsive font-size */
	font-weight: 300;
	text-align: start;
	padding: 0 15px;
	border: 1px solid rgba(138, 138, 138, 0.911);
	background: transparent;
	color: var(--color2);
	cursor: pointer;
	transition: background 0.3s;
	margin: 5px auto;
}

.pay__content-btn-group .btn:hover {
	background: rgba(138, 138, 138, 0.1);
}
.pay__content-right img {
	width: 100%;
	max-width: 100%;
	height: auto;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
}

/* Grup -------------------------------------------------------------- */
/* Grup -------------------------------------------------------------- */
/* Grup -------------------------------------------------------------- */
/* Group Styles */
.group {
	background: radial-gradient(
		circle,
		rgba(87, 33, 150, 1) 0%,
		rgb(10, 9, 36) 50%
	);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 20px; /* Responsive padding */
	box-sizing: border-box;
}
.gr_container {
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 50px;
}
.gr_title {
	padding-top: 50px;
	text-align: center;
}
.gr_title h1 {
	font-family: var(--font1);
	font-size: 60px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0.3px;
}
.gr_title h3 {
	font-family: var(--font1);
	font-size: 30px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.3px;
}
.gr_boxes {
	display: grid;
	row-gap: 20px;
	grid-template-columns: repeat(4, minmax(260px, 1fr));
	padding: 50px 0 60px 0;
}
.gr_box_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.gr_item_info {
	position: absolute;
	bottom: 0 !important;
	bottom: 130px;
	padding: 15px 25px;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.11) 0%,
		rgba(6, 165, 255, 0.11) 100%
	);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.3px);
	border-radius: 28px;
	border: 0.5px solid rgba(255, 255, 255, 0.274);
	text-align: center;
}
.gr_box_item img {
	width: 100%;
	max-width: 290px;
	height: auto;
	border-radius: 20px;
}
.gr_box_item h1 {
	font-family: var(--font1);
	font-size: 1.25rem; /* Responsive font-size */
	font-weight: 600;
	line-height: 1.5;
	text-align: center;
}
.gr_box_item p {
	font-family: var(--font1);
	font-size: 0.75rem; /* Responsive font-size */
	font-weight: 300;
	line-height: 1.5;
	text-align: center;
}
.gr_box_item button {
	width: 100%;
	max-width: 118px;
	border-radius: 10px;
	border: none;
	font-family: var(--font1);
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	margin-top: 20px;
	padding: 5px 0;
	background-color: var(--color2);
	color: #000000;
	cursor: pointer;
}
.gr_box_item button:hover {
	color: var(--color2);
	background-color: darken(var(--color2), 10%);
}

/* Locatio_n -------------------------------------------------------------- */
/* Locatio_n -------------------------------------------------------------- */
/* Locatio_n -------------------------------------------------------------- */
.location {
	background: linear-gradient(
		63deg,
		rgba(80, 45, 18, 0.8939950980392157) 0%,
		rgba(191, 94, 34, 1) 16%,
		rgba(76, 16, 116, 1) 43%,
		rgba(16, 69, 124, 1) 75%,
		rgba(26, 107, 255, 1) 87%
	);
	display: flex;
	align-items: center;
	justify-content: center;
}

.location_container {
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 50px;
}

.col_1 {
}

.col_1 img {
	width: 100%;
	max-width: 435px;
	border-radius: 20px;
	margin: 10px 0;
}

.col_1 p {
	padding: 15px 0;
	font-family: var(--font1);
	font-size: 16px;
}

.location_under {
	width: 100%;
	position: relative;
}

.location_under::after {
	content: ' ';
	background: rgba(255, 255, 255, 0.493);
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 1px;
	width: 100%;
	max-width: 435px;
}

.col_1_title {
	font-family: var(--font1);
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
	margin: 20px 0;
}

.col_2,
.col_1 {
	flex: 45% 0 0;
}

.col_2 iframe {
	width: 100%;
	max-width: 600px;
	height: 300px;
	border-radius: 20px;
}

/* Foote_r -------------------------------------------------------------- */
/* Foote_r -------------------------------------------------------------- */
/* Foote_r -------------------------------------------------------------- */
.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(
		63deg,
		rgba(80, 45, 18, 0.8939950980392157) 0%,
		rgba(191, 94, 34, 1) 16%,
		rgba(76, 16, 116, 1) 43%,
		rgba(16, 69, 124, 1) 75%,
		rgba(26, 107, 255, 1) 87%
	);
}

.footer_container {
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 50px;
}

.col_11 {
	position: relative;
	flex: 45% 0 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.col_22 {
	flex: 45% 0 0;
}
.col_11 img {
	width: 130px;
	height: 45px;
}

.col_11 p {
	font-family: var(--font1);
	font-size: 15px;
	font-weight: 300;
	line-height: 1.5;
	letter-spacing: 0.3px;
	text-align: left;
	margin-top: 20px;
}

.footer_links {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, minmax(125px, 131px));
	margin-top: 20px;
}

.footer_links .link {
	flex: 1 1 45%;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.footer_links .link img {
	flex: 0 0 20%;
}

.fomr_side h1 {
	font-family: var(--font1);
	font-size: 31px;
	font-weight: 500;
	line-height: 1.4;
	text-align: left;
	padding: 10px 0;
}

.fomr_side input[type='text'],
.fomr_side input[type='tel'] {
	padding: 0 20px;
	border: 1px solid #ccc;
	border-radius: 26px;
	font-size: 16px;
	width: 100%;
	max-width: 494px;
	height: 57px;
	font-family: var(--font1);
	font-size: 18px;
	font-weight: 500;
	line-height: 20px;
	text-align: left;
	box-sizing: border-box;
	margin-bottom: 10px;
}
