/* Header */
/* Responsive Styles */
@media (max-width: 1024px) {
	.header_container {
			flex-direction: column;
			align-items: center;
			padding: 0 10px;
	}

	.navbar {
			display: none;
	}

	.l_side {
			flex: none;
			width: 100%;
			text-align: center;
	}

	.logo {
			width: 100px;
			height: 30px;
	}

	.r_sidee {
			flex-direction: column;
			align-items: center;
			flex: none;
			width: 100%;
			justify-content: space-between;
			margin-top: 10px;
	}

	.courses,
	.kirish,
	.number {
			width: auto;
			text-align: center;
			padding: 15px;
			margin-bottom: 10px;
	}
}

@media (max-width: 768px) {
	.header_wraper {
			flex-direction: column;
			align-items: center;
	}

	.r_sidee {
			flex-direction: column;
			align-items: center;
			flex: 1;
	}

	.logo {
			width: 80px;
			height: 30px;
	}

	.courses,
	.kirish,
	.number {
			font-size: 12px;
			padding: 10px 15px;
			margin-bottom: 10px;
	}

	.va {
			font-size: 50px;
			transform: rotate(-23.22deg) translate(150px, 20px);
	}
}

@media (max-width: 480px) {
	.header_wraper {
			flex-direction: column;
			align-items: center;
			padding: 10px;
	}

	.header_container {
			flex-direction: column;
	}

	.l_side {
			text-align: center;
	}

	.logo {
			width: 60px;
			height: 20px;
	}

	.r_sidee {
			flex-direction: column;
			align-items: center;
			width: 100%;
	}

	.courses,
	.kirish,
	.number {
		display: flex;
			font-size: 10px;
			padding: 8px 10px;
			margin-bottom: 5px;
	}

	.va {
			font-size: 40px;
			transform: rotate(-23.22deg) translate(100px, 10px);
	}

	.green_light {
			flex-direction: column;
			align-items: flex-start;
			padding: 5px;
			border-radius: 20px;
	}

	.gl_p {
			font-size: 10px;
			margin: 2px 0;
	}

	.jurak {
			width: 8px;
			height: 8px;
	}
}

/* Path: assets/css/media.css */
/* Header */

/* Header Home */


@media (max-width: 1024px) {
	.h_content {
			flex-direction: column;
			padding: 20px;
	}

	.home_r_side img {
			max-width: 100%;
			height: auto;
	}
}

@media (max-width: 768px) {
	.home_l_side h1 {
			font-size: 80px;
	}

	.home_l_side p {
			font-size: 35px;
	}

	.home_r_side img {
			max-width: 80%;
			height: auto;
	}

	.va {
			transform: rotate(-23.22deg) translate(300px, 30px);
	}

	.green_light {
			/* flex-direction: column; */
			/* align-items: flex-start; */
			/* text-align: left; */
			/* padding: 15px; */
			margin-top: 50px;
	}

	.gl_p {
			margin: 5px 0;
	}
}

@media (max-width: 480px) {
	.home_l_side h1 {
			font-size: 60px;
	}

	.home_l_side p {
			font-size: 25px;
	}

	.home_r_side img {
			max-width: 100%;
			height: auto;
	}

	.va {
			transform: rotate(-23.22deg) translate(150px, 20px);
			font-size: 50px;
	}

	.green_light {
			padding: 10px;
			border-radius: 30px;
	}

	.gl_p {
			font-size: 14px;
			margin: 5px 0;
	}

	.jurak {
			width: 15px;
			height: 15px;
	}
}
