/* mento_r Home --------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Share:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
	--size: calc(1vw + 1vh);
	/* width: calc(var(--size) * 10); use */
	--color1: rgba(11, 4, 20, 1);
	--color2: rgba(230, 230, 240, 1);
	--color3: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 35%,
		rgba(0, 212, 255, 1) 100%
	);
	--font1: 'TT Firs Neue Trl', sans-serif;
	--deg: 255deg;
	--font2_mentorP: 'Manrope', sans-serif;
}
.r_side {
	display: flex !important;
}
.mentor_h_home {
	display: flex;
	align-items: center;
	justify-content: center;
}
.mentor_h_content {
	max-width: 1200px;
	padding: 50px;
	display: grid;
	row-gap: 130px;
	grid-template-columns: repeat(2, minmax(200px, 1fr));
	align-items: center;
}

.mentor_home_bottom {
	grid-column: span 2;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(4, minmax(170px, 1fr));
	margin-bottom: 50px;
}
.mentor_gl_p {
	width: max-content;
	border-radius: 26px;
	padding: 10px 22px;
	font-size: 19px;
	font-weight: 500;
	border: 1px solid #ffffff56;
	margin-bottom: 20px;
	cursor: pointer;
	background: linear-gradient(
		90deg,
		rgb(131, 22, 158) 0%,
		rgba(76, 25, 194, 0.795) 45%,
		rgba(40, 9, 180, 0.705) 100%
	);
}
.mentor_gl_p:hover {
	background: linear-gradient(
		90deg,
		rgb(40, 9, 180, 0.705) 0%,
		rgba(71, 16, 154, 0.795) 45%,
		rgba(131, 22, 158) 100%
	);
}
.mentor_home_l_side {
	transform: translateY(100px);
}
.mentor_home_l_side h1 {
	color: var(--color2);
	font-family: var(--font1);
	font-size: 138px;
	font-weight: 700;
}
.mentor_home_b_bos {
	border-radius: 20px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	border: 1px solid #2b2b2b;
	background: linear-gradient(
		45deg,
		rgba(16, 16, 17, 0.95) 0%,
		rgb(42, 37, 53, 0.95) 47%,
		rgb(23, 10, 41) 100%
	);
	position: relative;
}
.mentor_home_b_bos:hover::before {
	content: ' ';
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
	border-radius: 20px;
	background: linear-gradient(to bottom right, #008cff, #e100ff);
	filter: blur(5px);
	z-index: -1;
}

.mentor_home_b_bos h2 {
	font-family: var(--font1);
	font-size: 19px;
	font-weight: 600;
	letter-spacing: 0.65px;
	text-align: center;
}

.mentor_home_b_bos img {
	max-width: 50px;
	max-height: 50px;
	margin-bottom: 20px;
}
.mentor_home_r_side {
	position: relative;
}
.mentor_home_r_side img {
	max-width: 580px;
	transform: translateY(-210px);
	position: absolute;
}
/* mento_r About --------------------------------------------------- */
.about {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(
		238deg,
		rgb(18, 20, 32) 29%,
		rgb(40, 44, 99) 40%,
		rgb(156, 99, 182) 83%,
		rgb(26, 25, 26) 100%
	);
}
.about_container {
	max-width: 1200px;
	padding: 50px;
	display: grid;
	column-gap: 30px;
	grid-template-columns: repeat(2, minmax(250px, 1fr));
}

.about_r_side {
	display: grid;
}
.about_l_side img {
	width: 100%;
	max-width: 565px;
}

.about_r_top {
	padding: 25px 20px;
	border: 1px solid rgb(54, 54, 54);
	border-bottom: none;
	border-radius: 20px 20px 0 0;
}

.about_r_top_title {
	font-family: var(--font1);
	font-size: 24px;
	font-weight: 500;
	text-align: left;
	color: #cacace;
	display: flex;
	align-items: center;
}
.about_r_top_p,
.about_r_top_p2 {
	font-family: Manrope;
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
	text-align: left;
	color: #afb0b6;
}
.about_r_top_p {
	font-weight: 600 !important;
	margin: 23px 0;
}
.about_r_bottom {
	border: 1px solid rgb(54, 54, 54);
	border-radius: 0 0 20px 20px;
	padding: 30px 20px;
}
.about_r_bottom_title {
	font-family: var(--font1) !important;
	font-size: 24px;
	font-weight: 500;
	line-height: 30.96px;
	text-align: left;
	margin-bottom: 20px;
	color: #cacace;
	display: flex;
	align-items: center;
}
.about_r_top_title img,
.about_r_bottom_title img {
	margin-right: 5px;
	width: 25px;
	height: 25px;
}

.about_r_bottom_items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.about_r_bottom_items p {
	font-family: var(--font1);
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	text-align: left;
	flex: 50% 0 0;
	margin: 5px 0;
	color: #c8c8c9 !important;
}
.about_r_bottom_icons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
}
.about_r_bottom_icons_box {
	background: black;
	border-radius: 50px;
	padding: 6px 10px 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.about_r_bottom_icons_box img:hover {
	transform: scale(1.1);
	cursor: pointer;
}
.about_r_bottom_icons button {
	width: 100%;
	max-width: 140px !important;
	padding: 14px 0px;
	border-radius: 10px;
	font-family: var(--font1);
	transform: translateX(-10px);
	background: #1c1c21;
	border: 1px solid;
	border-image-source: linear-gradient(
		135.66deg,
		#2f2f37 28.87%,
		rgba(47, 47, 55, 0) 76.42%
	);
}
.about_r_bottom_icons button:hover {
	animation: zzz 0.6s linear;
}
.about_r_bottom_icons button a {
	color: rgb(230, 230, 240) !important;
}
.about_r_bottom_icons button:nth-child(2) {
	transform: translateX(5px);
}

/* mentor Portfolio --------------------------------------------------- */
.mentor_port {
	display: flex;
	align-items: center;
	justify-content: center;
}
.mentor_port .mentor_port_container {
	width: 100%;
	max-width: 1200px;
	padding: 50px;
}
.mentor_port_title h1 {
	font-family: var(--font1);
	font-size: 60px;
	font-weight: 600;
	line-height: 57px;
	text-align: center;
	margin-bottom: 50px;
}
.mentor_port_boxes {
	display: grid;
	gap: 40px 20px;
	grid-template-columns: repeat(4, minmax(200px, 1fr));
}
.mentor_port_img {
	grid-column: span 2;
}
.mentor_port_box {
	position: relative;
}
.mentor_port_box:hover img {
	filter: blur(0px);
}
.mentor_port_box:hover::before {
	content: ' ';
	width: 100%;
	height: 100%;
	top: 0;
	border-radius: 20px;
	background: linear-gradient(to bottom right, #008cff, #e100ff);
	filter: blur(10px);
	position: absolute;
	z-index: -1;
}
.mentor_port_box::after {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50%;
	content: ' ';
	border-radius: 0 0 20px 20px;
	background: rgb(0, 0, 0);
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(253, 187, 45, 0) 100%
	);
	position: absolute;
}
.mentor_port_box a:nth-child(even) {
	font-family: var(--font1);
	font-size: 27px;
	font-weight: 600;
	color: var(--color2);
	left: 20px;
	bottom: 40px;
	position: absolute;
	border-bottom: 1px solid rgba(255, 255, 255, 0.185);
	z-index: 33;
}
.mentor_port_box a:nth-child(odd) {
	font-family: var(--font1);
	font-size: 18px;
	font-weight: 400;
	color: var(--color2);
	left: 150px;
	bottom: 20px;
	position: absolute;
	z-index: 33;
}
.mentor_port_box img {
	width: 100%;
	border-radius: 20px;
	filter: blur(1px);
}
.home_r_side {
	position: relative;
	right: 350px;
}
