.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(58, 12, 89);
  background: linear-gradient(146deg, rgba(14, 12, 110, 0.906) 29%, rgba(191, 48, 204, 0.596) 65%, rgba(18, 60, 196, 0.894) 95%);
}
.portfolio .port_container {
  width: 1450px;
  max-width: 1500px;
  padding: 50px 0;
}

.port_title h1 {
  font-family: "TT Firs Neue Trl", sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 57px;
  text-align: center;
}

.port_imgs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
.port_imgs img {
  margin: 20px;
}