:root {
	--size: calc(1vw + 1vh);
	/* width: calc(var(--size) * 10); use */
	--color1: rgba(11, 4, 20, 1);
	--color2: rgba(230, 230, 240, 1);
	--font1: 'TT Firs Neue Trl', sans-serif;
}
@media (min-width: 769px) {
	.trailer_container img {
		width: calc(var(--size) * 20);
	}

	.trailer_button h1 {
		width: max-content;
		font-size: calc(var(--size) * 2);
	}

	.trailer_button {
		padding: 0 20px;
	}
	.trailer_button button {
		font-size: calc(var(--size) * 1);
	}
	/* ------------ */
	.LessonDetail .l_detail_container .lesson_box_title {
		font-size: calc(var(--size) * 3);
		padding: 0 150px;
	}
	.detail_title {
		font-size: calc(var(--size) * 1.5);
	}

	.lesson_detail img {
		width: calc(var(--size) * 2);
	}
	.l_d_num {
		width: calc(var(--size) * 3);
	}
	.l_detail {
		width: 50%;
		font-size: calc(var(--size) * 2);
	}
	.LessonDetail .l_detail_container .lesson_box .lesson_b_r_side img {
		width: calc(var(--size) * 23);
	}
	.LessonDetail
		.l_detail_container
		.lesson_box
		.lesson_b_l_side
		.lesson_detail
		.l_detail {
		font-size: calc(var(--size) * 1.2);
	}
	.LessonDetail .l_detail_container .lesson_box {
		padding: 30px 0;
	}
	.wp_title h1 {
		font-size: calc(var(--size) * 3);
	}
	.l_side_li li {
		font-size: calc(var(--size) * 1.3);
	}
	.wp_r_side img {
		width: calc(var(--size) * 24);
	}
	.port_title h1 {
		font-size: calc(var(--size) * 3);
	}
	.form_l_side h1 {
		font-size: calc(var(--size) * 3) !important;
	}
	.form_l_side p {
		font-size: calc(var(--size) * 1);
	}
	.fomr_side input[type='text'],
	.fomr_side input[type='text'] {
		padding: 0 20px;
		border: 1px solid #ccc;
		border-radius: 26px;
		font-size: calc(var(--size) * 1) !important;
	}
	.fomr_side input[type='text'],
	.fomr_side input[type='text'] {
		width: calc(var(--size) * 15);
	}
	.fomr_side button {
		width: calc(var(--size) * 15);
		font-size: calc(var(--size) * 1);
	}
	.checkbox_container {
		width: calc(var(--size) * 15);
	}
}
